<div class="flex items-center">
  <span class="relative inline-flex overflow-hidden rounded-full p-[1px]">
    <span
      class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,rgba(218,60,120,0.30),rgba(254,205,76,0.34),rgba(1,155,144,0.30))]"
    ></span>
    <div
      class="inline-flex items-center justify-center w-full px-4 py-2 text-sm text-[rgb(var(--color-text))] bg-white/80 rounded-full dark:bg-black dark:text-white/80 backdrop-blur-3xl whitespace-nowrap"
    >
      <slot />
    </div>
  </span>
</div>
